<div class="login-container">
  <div class="login" action="/login">
    <a href="/"><img class="logo-login" src="images/logo-with-text.png" alt="Logo" /></a>
    <form method="post" action="/login">
      <input type="email" name="email" placeholder="Email" required="required" />
      <input type="password" name="password" placeholder="Password" required="required" />
      <input type="submit" class="login-button btn btn-block btn-large" value="Login">
    </form>
    <span class="login-options"><a href="/signup">Create an Account? </a> | <a href="/reset-password">Forgot Password</a></span>
    <a class="login-social login-top" href="/login/google"><img src="images/gpluslogin.png" alt="Google Login" /></a>
    <a class="login-social" href="/login/facebook"><img src="images/fblogin.png" alt="Facebook Login" /></a>
  </div>
</div>
