<div class="login-container">
  <div class="login" action="/login">
    <a href="/"><img class="logo-login" src="images/logo-with-text.png" alt="Logo" /></a>
    <% if (typeof success != 'undefined') { %>
      <p class="text-center">
        Password has been recovered.
      </p>
      <p class="text-center">
        <a href="/login">Login</a> to continue... 
      </p>
    <% } else { %>
    <p class="text-center">
      Password Recovery
    </p>
    <form method="post" action="/recover-password">
      <input type="email" name="email" value="<%= email %>" required="required" readonly="readonly"/>
      <input type="password" name="password" placeholder="New Password" required="required" />
      <input type="hidden" name="code" value="<%= code %>" />
      <input type="submit" class="login-button btn btn-block btn-large" value="Change Password" />
    </form>
    <% } %>
  </div>
</div>
