<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="login-container">
  <div class="login" action="/login">
    <a href="/"><img class="logo-login" src="images/logo-with-text.png" alt="Logo" /></a>
    <% if(typeof success != "undefined") { %>
      <p class="text-center">If your Email exists in our Database, then a Password Reset Email has been sent.</p>
    <% } else { %>
      <form method="post" action="/reset-password">
        <input type="email" name="email" placeholder="Email" required="required" />
        <div class="g-recaptcha" data-sitekey="6LesSRAUAAAAAM1HS0BU9rUGb81IRGwKIZQoxaYY"></div>
        <input type="submit" class="login-button btn btn-block btn-large" value="Reset Password">
      </form>
    <% } %>
    <span class="login-options"><a href="/signup">Create an Account? </a> | <a href="/login">Login</a></span>
  </div>
</div>
