<div class="login-container">
  <div class="login" action="/login">
    <a href="/"><img class="logo-login" src="images/logo-with-text.png" alt="Logo" /></a>
    <form method="post" action="/signup">
      <input type="email" name="email" placeholder="Email" required="required" />
      <input type="password" name="password" placeholder="Password" required="required" />
      <input type="submit" class="login-button btn btn-block btn-large" value="Sign Up">
    </form>
    <span class="login-options"><a href="/login">Login with Facebook or Google </a> | <a href="/login">Login</a></span>
  </div>
</div>
