<footer class="footer-distributed">

  <div class="footer-left">

    <!-- <h3>Key<span>Phase</span>.org</h3> -->

    <a href="/"><img class="footer-logo" src="/images/logo-with-text.png" alt="Logo" /></a>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/login">Login</a>
      ·
      <a href="/signup">SignUp</a>
      ·
      <a href="/blog">Blog</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/contact">Contact</a>
    </p>

    <p class="footer-company-name"><a href="https://www.conshaper.com/" target="_blank">Conshaper &copy; <%= new Date().getFullYear() %></a></p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a rel="nofollow" href="https://gitlab.com/kaziwaseef/password-manager" target="_blank"><i class="fa fa-gitlab"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>
