<header>
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="/" class="active" data-toggle="tooltip" data-placement="left" title="Home"></a></li>
			<li><a href="/login" data-toggle="tooltip" data-placement="left" title="Login"><!--span>Login</span--></a></li>
			<li><a href="/signup" data-toggle="tooltip" data-placement="left" title="SignUp"><!--span>Sign Up</span--></a></li>
			<li><a href="/blog" data-toggle="tooltip" data-placement="left" title="Blog"><!--span>Blog</span--></a></li>
			<li><a href="/about" data-toggle="tooltip" data-placement="left" title="About"><!--span>About Us</span--></a></li>
			<li><a href="/contact" data-toggle="tooltip" data-placement="left" title="Contact"><!--span>Contact Us</span--></a></li>
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
</header>
