<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><!-- Dynamic --></h4>
      </div>
      <div class="modal-body">
        <form role="form" action="/crypto/editSiteRecord" method="post">
          <input type="hidden" id="modalRecordId" name="modalRecordId">
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" id="modalEmailDetails" name="modalEmailDetails" placeholder="Not Set" tabindex="1">
          </div>
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" id="modalUsernameDetails" name="modalUsernameDetails" placeholder="Not Set" tabindex="2">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" id="modalPasswordDetails" name="modalPasswordDetails" placeholder="Not Set" tabindex="3">
          </div>
          <div id="modalSecurityQuestionDetails">
            <!-- Dynamic -->
          </div>
          <div class="form-group">
            <label>Master Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
            <input class="form-control" type="password" id="modalMasterPasswordDetails" name="modalMasterPasswordDetails" placeholder="Enter Master Password to Save Changes" required="" tabindex="4">
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="7"><i class="fa fa-times" aria-hidden="true"></i></button>
            <button type="submit" name="edit" class="btn btn-success" tabindex="5">Save Changes</button>
            <button type="submit" name="delete" class="btn btn-danger" tabindex="6"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
          <div class="clearfix">

          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
