<div id="sidebar-wrapper">
  <div class="sidebar-image">
    <a href="/application/profile">
      <img src="<%= avatar %>" alt="Profile Picture" />
    </a>
    <p class="sidebar-name">
      Hello,
      <% if(firstName != null) { %>
        <%= firstName %>
      <% } else { %>
        User
      <% } %>
    </p>
  </div>
  <ul class="sidebar-nav">
    <li>
      <a class="<% if(pageSlug === 'application/index') { %>active<% } %>" href="/application"><i class="fa fa-globe" aria-hidden="true"></i> Websites</a>
    </li>
    <li>
      <a class="<% if(pageSlug === 'application/new') { %>active<% } %>" href="/application/new"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
    </li>
    <li>
      <a class="<% if(pageSlug === 'application/profile') { %>active<% } %>" href="/application/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
    </li>
    <li>
      <a class="<% if(pageSlug === 'application/settings') { %>active<% } %>" href="/application/settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </li>
    <li>
      <a class="logout" href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Log Out</a>
    </li>
  </ul>
  <div class="powered-by">
    <img src="" alt="" />
  </div>
</div>
