<div class="full-screen-container">
  <p class="title">
    404 ERROR!
  </p>
  <p class="subtitle">
    PAGE NOT FOUND
  </p>
  <p>
    The page you were trying to reach doesn't exist.
  </p>
  <p>
    <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
  </p>
</div>
