<div class="full-screen-container">
  <p class="title">
    500 ERROR!
  </p>
  <p class="subtitle">
    SERVER ERROR
  </p>
  <p>
    Internal server error, sorry for the inconvenience. We actively monitor these events.
  </p>
  <p>
    <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
  </p>
</div>
