<div class="full-screen-container">
  <p class="title">
    <%= title %>
  </p>
  <p class="subtitle">
    <%= message %>
  </p>
  <p>
    Redirecting in 3 seconds. If not, <a href="<%= page %>">click here</a>
  </p>
</div>
<script type="text/javascript">
  setTimeout(function() {
    window.location.assign("<%= page %>");
  }, 3000);
</script>
