<%- partial ('partials/homeNav.ejs') %>

  <div class="container-fluid home-main-container">
    <div class="row">
      <div class="home-logo-container">
        <a href="/"><img class="home-logo" src="/images/logo-with-text.png" alt="Logo" /></a>
      </div>
    </div>
    <div class="header-spacer-top">
    </div>
    <div class="row">
      <div class="col-xs-6 header-text-container">
        <p class="header-text">
          <b>Check our video</b>
        </p>
        <p class="header-text">
          Start using keyphase
        </p>
      </div>
      <div class="col-xs-6">
        <div class="video-selector" data-toggle="tooltip" data-placement="bottom" title="Coming Soon">
          <i class="fa fa-play-circle-o fa-inverse fa-3x social-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="header-spacer-bottom">
    </div>
    <div class="row text-right">
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle facebook-color"></i>
      <i class="fa fa-facebook fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle twitter-color"></i>
      <i class="fa fa-twitter fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle reddit-color"></i>
      <i class="fa fa-reddit-alien fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle linkedin-color"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle pinterest-color"></i>
      <i class="fa fa-pinterest-p fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="left" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x social-circle googleplus-color"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-fw fa-inverse"></i>
    </span>
    </div>
  </div>
  <div class="container">
    <p class="body-title">
      Use the Most Secure Password Manager
    </p>
    <p class="body-text">
      Keyphase is a non profit product, so, inspite of the security provided, the password manager is free forever with no third party advertisement!
    </p>
    <div class="body-button-spacer-top">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-4 col-md-offset-4 col-sm-12 col-xs-12" href="/login">Click here to start using for free</a>
    </div>
    <p class="body-text-bottom">
      Not convinced yet? Scroll down to know how we secure your data and protect your privacy.
    </p>
  </div>
  <div class="body-container-spacer">
  </div>
  <hr>
  <div class="container">
    <p class="body-title">
      Top Features
    </p>
    <p class="body-text">
      Keyphase Password Manager brings back privacy and data security to the internet. We use no form of tracking or analytics in our application page. Finally, your data is encrypted in the database so even we have no way of viewing your data. Oh yeah, we
      are also open source.
    </p>
    <div class="row">
      <div class="col-sm-4 top-feature-list">
        <span class="fa-stack fa-3x">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-microphone fa-stack-1x fa-fw"></i>
      </span>
        <p>
          Let you record of your data.
        </p>
      </div>
      <div class="col-sm-4 top-feature-list">
        <span class="fa-stack fa-3x">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x fa-fw"></i>
      </span>
        <p>
          Keep your information secure.
        </p>
      </div>
      <div class="col-sm-4 top-feature-list">
        <span class="fa-stack fa-3x">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-eye fa-stack-1x fa-fw"></i>
      </span>
        <p>
          Only you can view your data.
        </p>
      </div>
    </div>
    <p class="body-text">
      Coming Soon...
    </p>
    <div class="body-button-spacer-top">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-4 col-md-offset-4 col-sm-12 col-xs-12" href="/login">Click here to start using for free</a>
    </div>
    <p class="body-text-bottom">
      Not convinced yet? Scroll down to see how our product compares to the existing systems.
    </p>
  </div>
  <div class="body-container-spacer">
  </div>
  <hr>
  <div class="container">
    <p class="body-title">
      Detailed Posts About Password Manager
    </p>
    <p class="body-text">
      Coming Soon...
    </p>
    <div class="body-button-spacer-top">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-4 col-md-offset-4 col-sm-12 col-xs-12" href="/login">Click here to start using for free</a>
    </div>
    <p class="body-text-bottom">
      Not convinced yet? Scroll down to see how our product compares to the existing systems.
    </p>
  </div>
  <div class="body-container-spacer">
  </div>
  <hr>
  <div class="container">
    <p class="body-title">
      Full Feature List
    </p>
    <p class="body-text">
      Coming Soon...
    </p>
    <div class="body-button-spacer-top">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-4 col-md-offset-4 col-sm-12 col-xs-12" href="/login">Click here to start using for free</a>
    </div>
    <p class="body-text-bottom">
      Not convinced yet? Scroll down to view our code that we have Open Sourced so that anyone can audit it.
    </p>
  </div>
  <div class="body-container-spacer">
  </div>
  <hr>
  <div class="container">
    <p class="body-title">
      Our Online Repository
    </p>
    <p class="body-text">
      Go to <a href="https://gitlab.com/kaziwaseef/password-manager" rel="nofollow" target="_blank">Our Gitlab Repository</a> to check the code for our Password Manager yourself.
    </p>
    <div class="body-button-spacer-top">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-4 col-md-offset-4 col-sm-12 col-xs-12" href="/login">Click here to start using for free</a>
    </div>
    <p class="body-text-bottom">
      Not convinced yet? <a href="/contact">Contact Us</a> to tell us what we can do for you.
    </p>
  </div>

  <%- partial ('partials/footer.ejs') %>
