<!DOCTYPE html>
<html>

  <head>
    <title>
      <%=typeof title == 'undefined' ? 'KeyPhase Password Manager' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/styles/simple-sidebar.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>

    <%- body %>

      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/jquery.js"></script>
      <script src="/js/helpers/bootstrap.min.js"></script>
      <script src="/js/helpers/navbar.min.js"></script>
      <script src="/js/helpers/perfect-scrollbar.min.js"></script>
      <script src="/js/helpers/prefixfree.min.js"></script>
      <script src="/js/code.js"></script>
      <!--SCRIPTS END-->
  </body>

</html>
