/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

#topbar {
  width           : 100%;
  height          : 55px;
  background-color: #000033;
}
/* Toggle Styles */
#wrapper {
  padding-left      : 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition   : all 0.5s ease;
  -o-transition     : all 0.5s ease;
  transition        : all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index           : 1000;
  position          : fixed;
  left              : 250px;
  width             : 0;
  height            : 100%;
  margin-left       : -250px;
  overflow-y        : auto;
  background        : #3333cc;
  -webkit-transition: all 0.5s ease;
  -moz-transition   : all 0.5s ease;
  -o-transition     : all 0.5s ease;
  transition        : all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width   : 100%;
  position: absolute;
  padding : 15px;
  overflow: scroll;
  height  : 90vh;
}

#wrapper.toggled #page-content-wrapper {
  position    : absolute;
  margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
  width     : 250px;
  margin    : 0;
  padding   : 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 55px;
}

.sidebar-nav li a {
  display        : block;
  text-decoration: none;
  color          : #ffffff;
  font-size      : 16px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color          : #fff;
  background     : #000033;
  font-weight    : bold;
}

.sidebar-nav li a.active {
  background-color: #000033;
  font-weight     : bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height     : 65px;
  font-size  : 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color     : #fff;
  background: none;
}

.sidebar-nav .fa {
  padding: 0 15px;
}
@media(min-width:900px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding : 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position    : relative;
    margin-right: 0;
  }
}
