@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;
  -o-box-sizing     : border-box;
  box-sizing        : border-box;
}

html {
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

body {
  width           : 100%;
  height          : 100%;
  background-color: #eaeaea;
  font-family     : "Open Sans", sans-serif;
  overflow        : auto;
}

hr {
  border-color: #d4d4d4;
}

a:focus,
a:hover {
  text-decoration: none;
}

.red {
  color: #FF0000;
}

.btn-block {
  margin-top: 15px;
}

.btn-success {
  padding: 6px 40px;
}

.full-screen-container {
  height         : 100vh;
  width          : 100vw;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  align-content  : center;
}

.full-screen-container .title {
  font-size: 50px;
}

.full-screen-container .subtitle {
  font-size: 20px;
}

#menu-toggle {
  margin-bottom: 15px;
}

#topbar .logo-image {
  height     : 45px;
  margin-top : 4px;
  margin-left: 24px;
}

.sidebar-image {
  padding: 15px 35px 30px;
}

.sidebar-image img {
  height    : 180px;
  width     : 180px;
  object-fit: cover;
}

p.sidebar-name {
  display   : block;
  width     : 100%;
  text-align: center;
  color     : #ffffff;
  font-size : 20px;
  margin-top: 20px;
}

.sidebar-nav .logout {
  margin-top: 20px;
}

.login-container {
  width      : 100%;
  height     : 100vh;
  font-family: 'Open Sans', sans-serif;
  background : #eaeaea;
}

.login {
  position: absolute;
  top     : 50%;
  left    : 50%;
  margin  : -150px 0 0 -150px;
  width   : 300px;
  height  : 300px;
}

.login h1 {
  color         : #fff;
  text-shadow   : 0 0 10px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  text-align    : center;
}

.login input {
  width             : 100%;
  margin-bottom     : 10px;
  border            : none;
  outline           : none;
  padding           : 10px;
  font-size         : 15px;
  color             : #333;
  text-shadow       : 1px 1px 1px rgba(0,0,0,0.3);
  border            : 1px solid rgba(0,0,0,0.3);
  border-radius     : 4px;
  box-shadow        : inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition   : box-shadow 0.5s ease;
  -o-transition     : box-shadow 0.5s ease;
  -ms-transition    : box-shadow 0.5s ease;
  transition        : box-shadow 0.5s ease;
}

.login input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color  : #333;
  opacity: 0.6;
}

.login input::-moz-placeholder {
  /* Firefox 19+ */
  color  : #333;
  opacity: 0.6;
}

.login input:-ms-input-placeholder {
  /* IE 10+ */
  color  : #333;
  opacity: 0.6;
}

.login input:-moz-placeholder {
  /* Firefox 18- */
  color  : #333;
  opacity: 0.6;
}

.login input:focus {
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.login .login-button {
  padding         : 9px;
  border          : 1px solid rgba(0,0,0,0.3);
  font-size       : 18px;
  background-color: #31a8ad;
}

.login .logo-login {
  width        : 100%;
  margin-bottom: 10px;
  margin-top   : -75px;
}

.login .login-social img {
  width        : 100%;
  margin-bottom: 10px;
}

.login .login-top img {
  margin-top: 20px;
}

.login .login-options {
  display   : block;
  width     : 100%;
  text-align: right;
  font-size : 15px;
}

.login a {
  color: #387e98;
}

.login a:hover {
  color          : #22767a;
  text-decoration: none;
}

.site-list-container {
  padding: 4px;
}

.single-site-list-container {
  border       : 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow   : inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  height       : 140px;
  overflow     : hidden;
}

.site-list-name {
  padding       : 10px 0 9px 25px;
  font-size     : 20px;
  text-transform: capitalize;
}

.site-list-data {
  padding  : 1px 0 1px 12px;
  font-size: 12px;
  margin   : 0;
}

.site-list-password {
  font-size: 14px;
  cursor   : pointer;
}

.site-list-logo {
  width  : 100%;
  padding: 5%;
}

.site-list-expand {
  padding   : 4px;
  color     : #000000;
  width     : 100%;
  text-align: right;
  cursor    : pointer;
}

.dropdown-menu li {
  padding: 3px 15px;
}

.copy-password {
  color: #000000;
}

.plus-container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  font-size      : 40px;
  color          : #9a9a9a;
  box-shadow     : inset 0 -5px 45px rgba(0,0,0, 0.55), 0 1px 1px rgba(255,255,255,0.1);
}

.plus-container:hover {
  cursor          : pointer;
  background-color: #000033;
  color           : #ffffff;
  border          : 1px solid rgba(255, 255, 255, 0.3);
  box-shadow      : inset 0 -5px 45px rgba(255, 255, 255, 0.55), 0 1px 1px rgb(255, 255, 255);
}

#result-image {
  margin-top: 10px;
}

.inputfile {
  width   : 0.1px;
  height  : 0.1px;
  opacity : 0;
  overflow: hidden;
  position: absolute;
  z-index : -1;
}

.file-selecter {
  min-width : 40%;
  max-width : 80%;
  overflow  : hidden;
  margin-top: 2%;
}

.file-selecter-submit {
  margin-top: 2%;
}

.modal-header {
  background-color: #3333cc;
}

.modal-header > button > span,
.modal-title > a {
  color      : #ffffff;
  font-weight: 600;
}

.modal-body {
  background-color: #eaeaea;
}

.close {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* Homepage */
.home-main-container {
  background-image : url('/images/home-background.png');
  background-size  : 100% 100%;
  height           : 500px;
  background-repeat: no-repeat;
}

.home-logo-container {
  padding: 0 0 0 5px;
  width  : 60%;
  height : 75px;
}

.home-logo {
  min-width: 145px;
  width    : 44%;
  max-width: 250px;
}

.header-spacer-top {
  width : 100%;
  height: 110px;
}

.header-spacer-bottom {
  width : 100%;
  height: 150px;
}

.header-text-container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  align-content  : center;
  /*height         : 9vw;*/
  height         : 117px;
}

.header-text {
  font-size     : 32px;
  color         : #ffffff;
  margin        : 0;
  line-height   : 32px;
  width         : 100%;
  text-align    : right;
  text-transform: uppercase;
}

.video-selector {
  background-image: url('/images/video.jpg');
  background-size : 100%;
  width           : 208px;
  height          : 117px;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  align-content   : center;
  cursor          : pointer;
  outline         : 2px solid #FFFFFF;
}

.social-circle {
  text-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.facebook-color {
  color: #3b5998;
}

.twitter-color {
  color: #00aced;
}

.reddit-color {
  color: #ff4500;
}

.linkedin-color {
  color: #0077b5;
}

.pinterest-color {
  color: #bd081c;
}

.googleplus-color {
  color: #dd4b39;
}

.email-color {
  color: #554477;
}

.share-color {
  color: #28a749;
}

.body-title {
  font-size : 32px;
  text-align: center;
  width     : 100%;
  margin    : 20px 0 17px;
  color     : #006f74;
}

.body-text {
  font-size : 20px;
  text-align: center;
  width     : 100%;
  margin    : 10px 0;
  color     : #818181;
}

.body-text-bottom {
  font-size : 15px;
  text-align: center;
  width     : 100%;
  margin    : 10px 0;
  color     : #818181;
}

.top-feature-list {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  align-content  : center;
  color          : #505050;
}

.body-button-spacer-top {
  width : 100%;
  height: 15px;
}

.body-container-spacer {
  width : 100%;
  height: 40px;
}
/* /Homepage */
/* Footer */
.footer-logo {
  width: 320px;
}
/* /Footer */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .video-selector {
    width : 160px;
    height: 90px;
  }

  .header-text-container {
    height: 90px;
  }

  .body-title,
  .header-text {
    font-size: 29px;
  }

  .body-text {
    font-size: 17px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .video-selector {
    width : 120px;
    height: 68px;
  }

  .header-text-container {
    height: 68px;
  }

  .header-text {
    font-size  : 18px;
    line-height: 18px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
