<%- partial ('../partials/topbar.ejs') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- partial ('../partials/sidebar.ejs') %>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="container-fluid">
          <form role="form" class="" action="/crypto/checkMasterPassword" method="post">

            <div class="form-group">
              <label>Enter Master Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="password" class="form-control" name="master-password">
            </div>
            <p class="red">
              Since we encrypt all your records, we cannot recover your master password if you forget it (For Security Reasons).
            </p>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
          </form>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
