<%- partial ('../partials/topbar.ejs') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- partial ('../partials/sidebar.ejs') %>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="container-fluid">
          <% _.each(siteList, function (site, index){ %>
              <div class="col-md-3 col-sm-4 col-xs-6 site-list-container">
                <div class="single-site-list-container">
                  <div class="row">
                    <div class="col-xs-12 site-list-name">
                      <a href="<%= 'http://' + site.siteURL %>" target="_blank" rel="nofollow"><%= site.siteName.length > 14 ? site.siteName.substr(0, 11) + "&hellip;" : site.siteName %></a>
                    </div>
                    <!-- <div class="col-xs-3">
                      <img class="site-list-logo" src="http://placehold.it/100x100" alt="" />
                    </div> -->
                  </div>
                  <% if (site.siteEmail === '') { %>
                    <p class="site-list-data">
                      Email: <i class="fa fa-fw fa-ban" aria-hidden="true"></i>
                    </p>
                  <% } else { %>
                    <p class="site-list-data">
                      Email: <%= site.siteEmail.length > 18 ? site.siteEmail.substr(0, 15) + "&hellip;" : site.siteEmail %>
                    </p>
                  <% } %>

                  <% if (site.siteUsername === '') { %>
                    <p class="site-list-data">
                      User: <i class="fa fa-fw fa-ban" aria-hidden="true"></i>
                    </p>
                  <% } else { %>
                    <p class="site-list-data">
                      User: <%= site.siteUsername.length > 18 ? site.siteUsername.substr(0, 15) + "&hellip;" : site.siteUsername %>
                    </p>
                  <% } %>
                  <div class="dropup">
                    <p class="dropdown-toggle site-list-data site-list-password" type="button" data-toggle="dropdown">
                      Password: <i class="fa fa-fw fa-eye fa-lg" aria-hidden="true"></i> <a id="<%= 'copyPassword' + index %>" class="copy-password"><i class="fa fa-fw fa-lg fa-clipboard" aria-hidden="true"></i></a>
                    </p>
                    <ul class="dropdown-menu">
                      <li id="<%= 'passwordShow' + index %>"><%= site.sitePassword %></li>
                    </ul>
                  </div>
                  <input type="hidden" id="<%= 'siteRecordId' + index %>" value="<%= site.id %>">
                  <input type="hidden" id="<%= 'siteURLHidden' + index %>" value="<%= site.siteURL %>">
                  <input type="hidden" id="<%= 'siteNameHidden' + index %>" value="<%= site.siteName %>">
                  <input type="hidden" id="<%= 'siteEmailHidden' + index %>" value="<%= site.siteEmail %>">
                  <input type="hidden" id="<%= 'siteUsernameHidden' + index %>" value="<%= site.siteUsername %>">
                  <input type="hidden" id="<%= 'sitePasswordHidden' + index %>" value="<%= site.sitePassword %>">
                  <% _.each(site.securityQuestions, function(securityQuestion){ %>
                    <input type="hidden" class="<%= 'securityQuestionHidden' + index %>" value="<%= securityQuestion.question %>">
                    <input type="hidden" class="<%= 'securityAnswerHidden' + index %>" value="<%= securityQuestion.answer %>">
                  <% }); %>
                  <a id="<%= 'passwordExpand' + index %>" class="pull-right site-list-expand">
                    <i class="fa fa-fw fa-lg fa-cog" aria-hidden="true"></i>
                  </a>

                  <!-- <ul>
                    <li>Sitename: <%= site.siteName %></li>
                    <li>Site URL: <%= site.siteURL %></li>
                    <li>Site Email: <%= site.siteEmail %></li>
                    <li>Site Username: <%= site.siteUsername %></li>
                    <li>Site Password: <%= site.sitePassword %></li>
                    <ul>
                      <% _.each(site.securityQuestions, function(securityQuestion){ %>
                        <li>Question: <%= securityQuestion.question %></li>
                        <li>Answer: <%= securityQuestion.answer %></li>
                      <% }); %>
                    </ul>
                  </ul> -->
                </div>
              </div>
          <% }); %>
          <div class="col-md-3 col-sm-4 col-xs-6 site-list-container">
            <a href="/application/new">
              <div class="single-site-list-container plus-container">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
<%- partial ('../partials/modal.ejs') %>
