<%- partial ('../partials/topbar.ejs') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- partial ('../partials/sidebar.ejs') %>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>

        <div class="container-fluid">
          <form role="form" action="/crypto/addNew" method="post">

            <div class="form-group">
              <label>Website Name: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="text" class="form-control" name="website-name" placeholder="Name of the Website">
            </div>

            <div class="form-group">
              <label>Website Address: (Optional)</label>
              <input type="text" class="form-control" name="website-url" placeholder="www.example.com">
            </div>

            <div class="form-group">
              <label>Website Email: (Optional)</label>
              <input type="text" class="form-control" name="website-email" placeholder="Email for Login">
            </div>

            <div class="form-group">
              <label>Website Username: (Optional)</label>
              <input type="text" class="form-control" name="website-username" placeholder="Username for Login">
            </div>

            <div class="form-group">
              <label>Website Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="text" class="form-control" name="website-password" placeholder="Password for Login">
            </div>

            <hr>

            <div id="security-question-container">
              <div class="form-group">
                <label>Security Question: (Optional)</label>
                <input type="text" class="form-control" name="security-question" placeholder="Question">
              </div>
              <div class="form-group">
                <label>Answer: (Optional)</label>
                <input type="text" class="form-control" name="security-answer" placeholder="Can be anything, Card Details etc">
              </div>
            </div>

            <button id="add-security-question" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add More</button>
            <div class="clearfix">

            </div>
            <button type="submit" class="btn btn-success pull-right">Submit</button>
            <div class="clearfix">

            </div>
          </form>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
