<%- partial ('../partials/topbar.ejs') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- partial ('../partials/sidebar.ejs') %>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="container-fluid">
          <div class="col-md-7">
            <form role="form" action="/application/editName" method="post">

              <div class="form-group">
                <label>First Name: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
                <input type="text" class="form-control" name="firstName" placeholder="First Name" required="" value="<%= firstName %>">
              </div>

              <div class="form-group">
                <label>Last Name: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" required="" value="<%= lastName %>">
              </div>

              <button type="submit" class="btn btn-success pull-right">Update Info</button>
            </form>
            <div class="clearfix">

            </div>
          </div>
          <div class="col-md-5">
            <form role="form" action="/application/uploadAvatar" method="post" enctype="multipart/form-data">
              <div class="form-group text-center">
                <img id="result-image" class="img-responsive img-thumbnail center-block" src="<%= avatar %>" height="120" width="120">
                <label for="file" class="btn btn-default file-selecter"><i class="fa fa-camera" aria-hidden="true"></i> Select Image</label>
                <input type="file" name="avatar" id="file" class="inputfile" accept="image/*" />
                <button type="submit" class="btn btn-success file-selecter-submit" disabled="">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
