<%- partial ('../partials/topbar.ejs') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- partial ('../partials/sidebar.ejs') %>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="container-fluid">
          <form role="form" class="" action="/application/changePassword" method="post">
            <h3>
              Change Password
            </h3>
            <br>
            <div class="form-group">
              <label>Old Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="password" class="form-control" name="old-password" required="" placeholder="Enter your current account password">
            </div>

            <div class="form-group">
              <label>New Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="password" class="form-control" name="new-password" required="" placeholder="Enter the new account password you wish to set">
            </div>

            <button type="submit" class="btn btn-success pull-right">Submit</button>
            <div class="clearfix">

            </div>
          </form>
          <hr>
          <form role="form" class="" action="/application/changeMasterPassword" method="post">
            <h3>
              Change Master Password
            </h3>
            <br>
            <div class="form-group">
              <label>Old Master Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="password" class="form-control" name="old-master-password" required="" placeholder="Enter your current master password">
            </div>

            <div class="form-group">
              <label>New Master Password: <i class="fa fa-asterisk red" aria-hidden="true"></i></label>
              <input type="password" class="form-control" name="new-master-password" required="" placeholder="Enter the new master password you wish to set">
            </div>
            <p class="red">
              Since we encrypt all your records, we cannot recover your master password if you forget it (For Security Reasons).
            </p>
            <button type="submit" class="btn btn-success pull-right">Submit</button>
            <div class="clearfix">

            </div>
          </form>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
